<section id="compet-tec">
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
  <h1> Competência Técnica </h1>
</section>