<section id="profile">
<h2 class="section-title">Profile</h2>
<hr>
  <p class="profile">
Ambicioso, tenaz, e bem cumprida profissional de TI com 8 ou mais anos de experiência na indústria de TI. Armado com fundo e as competências de base ampla nas áreas de fornecer boa solução adequada para cada tarefa necessária. Encontra soluções perfeitas usando métodos diferentes, com foco no resultado. Resolvidas a aplicar habilidades ganhos e conhecimentos para o rápido crescimento da organização prospectivo trabalhando eficaz e consistente. Motivado, alerta aos detalhes e ouvert-mente para novas formas de trabalhar.
  </p>
</section>